.create-group-button {
  width: 200px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: var(--black-black_282828, #282828);
  color: #fff; 
  border: none;
  cursor: pointer;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 14px; 
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.42px;
  text-align: center;
}

.create-group-button:hover {
  background-color: var(--black-black_282828, #282828);
}
