.dropdown-container {
    width: 160px; /* 너비 설정 */
    height: 45px; /* 높이 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    flex-shrink: 0; /* 크기 축소 방지 */
  }
  
  .dropdown {
    margin-bottom: 20px;
  }
  
  .dropdown-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    appearance: none; /* 기본 화살표 숨김 */
    background-color: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  .dropdown-select:hover {
    border-color: #aaa;
  }
  