.group-list {
  display: grid;
  margin-top: 0;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-content: center; 
  padding-top: 20px; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.group-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  width: 100%; 
  max-width: 335px; 
  height: auto; 
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 1560px; 
  height: 60px; 
  border-radius: 6px; 
  border: 1px solid var(--black-black_282828, #282828); 
  background: var(--gray-gray_FAFAFA, #FAFAFA); 
  margin: 0 auto; 
}

.load-more button {
  padding: 10px 20px;
  background-color: transparent; 
  color: var(--black-black_282828, #282828); 
  border: none;
  cursor: pointer;
  
  text-align: center; 
  font-family: "Spoqa Han Sans Neo", sans-serif; 
  font-size: 14px;
  font-style: normal; 
  font-weight: 700; 
  line-height: normal; 
  letter-spacing: -0.42px; 
}

.load-more button:hover {
  background-color: var(--gray-gray_EFEFEF, #EFEFEF);
  border-radius: 6px;
}
