.header {
    width: 1920px; 
    height: 100px;
    margin-bottom: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #FAFAFA; 
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000; 
}

.logo {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

.logo img {
    width: 137px; 
    height: 48px; 
}
.create-group-button {
    position: absolute;
    left: 1540px; /* 왼쪽에서 1540px */
    right: 180px; /* 오른쪽에서 180px */
  }
