.header {
    width: 1920px; 
    height: 100px;
    margin-bottom: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #FAFAFA; 
    position: fixed; 
    top: 0; 
    transform: translateX(-50%);
    z-index: 1000; 
}

.logo {
    position: absolute;
    transform: translateX(-50%); 
}

.logo img {
    width: 137px; 
    height: 48px; 
}
